
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster_url>/<database_name>?retryWrites=true&w=majority

CORS_ORIGIN=*

SPOONACULAR_API_KEY=your_spoonacular_api_key
SPOONACULAR_BASE_URL=https://api.spoonacular.com


AZURE_TRANSLATOR_KEY=your_azure_translator_key
AZURE_TRANSLATOR_REGION=southcentralus
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com